body {
    background-color: yellow;
    color:;
    }
    .shoh p {
        text-align: center;
        font-size: 30px;
        margin-top: 40px;
        font-weight: 900;
        color: black;
    }
    